.main {
    grid-area: main;
    div {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}

.tituloimagenes{
    width: 100%;
    background-color: orange;
    h2{
        font-size: 40px;
        color: white;
    }
    p{
        font-size: 25;
        color: white;
    }
}


.imagenesrotadas{
    margin:50px;
    img {
        transition: 2s;
        width: 250px;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

