.header {
    display: flex;
    grid-area: header;
    border: solid orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .navbar {
        width: 100%;
        .container-fluid .navbar-brand img {
            -webkit-transition: 1s linear;
            transition: 1s linear;
            height: auto;
            width: auto;
            max-width: 100px;
            max-height: 100px;
        }
    }

    img:hover {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    .nav-link{
        font-size: $font-size-par - 5px;
    }
}

