* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: darkblue; }

.contenedor {
  /*width: 90%;
    margin:20px;*/
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr auto 0.2fr;
  gap: 5px 0px;
  grid-template-areas: "header  header" "main    main" "footer  footer"; }

.generalban, .banner, .bannernosotros, .bannersillas, .bannersillones, .bannercontacto {
  display: flex;
  align-items: center;
  justify-content: center; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/sillonbanner.jpg") fixed center/cover;
  height: 80vh; }
  .banner div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .banner div h1 {
      color: white;
      font-weight: 900px; }
    .banner div p {
      color: white; }
    .banner div a {
      color: white;
      background-color: orange;
      width: 300px;
      padding: 20px;
      margin-top: 20px;
      text-decoration: none;
      border-radius: 15px;
      font-weight: 600px;
      transition: all 2s; }
      .banner div a:hover {
        background-color: #ff4800;
        color: rgba(255, 230, 0, 0.753);
        transform: scale(1.5); }

.bannernosotros {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannernosotros.jpg") fixed center/cover; }
  .bannernosotros div {
    padding-bottom: 50px; }
    .bannernosotros div h1 {
      color: white;
      font-weight: 900px; }
    .bannernosotros div p {
      color: white; }
    .bannernosotros div a {
      text-decoration: none;
      color: white;
      transition: all 1.5s; }
      .bannernosotros div a:hover {
        color: blue; }

.bannersillas {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/bannersillas.jpg") fixed center/cover; }
  .bannersillas div {
    padding-bottom: 50px; }
    .bannersillas div h1 {
      color: white;
      font-weight: 900px; }
    .bannersillas div p {
      color: white; }
    .bannersillas div a {
      text-decoration: none;
      color: white;
      transition: all 1.5s; }
      .bannersillas div a:hover {
        color: blue; }

.bannersillones {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannersillones.jpg") fixed center/cover; }
  .bannersillones div {
    padding-bottom: 50px; }
    .bannersillones div h1 {
      color: white;
      font-weight: 900px; }
    .bannersillones div p {
      color: white; }
    .bannersillones div a {
      text-decoration: none;
      color: white;
      transition: all 1.5s; }
      .bannersillones div a:hover {
        color: blue; }

.bannercontacto {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannercontacto.jpg") fixed center/cover; }
  .bannercontacto div {
    padding-bottom: 50px; }
    .bannercontacto div h1 {
      color: white;
      font-weight: 900px; }
    .bannercontacto div p {
      color: white; }
    .bannercontacto div a {
      text-decoration: none;
      color: white;
      transition: all 1.5s; }
      .bannercontacto div a:hover {
        color: blue; }

.header {
  display: flex;
  grid-area: header;
  border: solid orange;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .header .navbar {
    width: 100%; }
    .header .navbar .container-fluid .navbar-brand img {
      -webkit-transition: 1s linear;
      transition: 1s linear;
      height: auto;
      width: auto;
      max-width: 100px;
      max-height: 100px; }
  .header img:hover {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }

footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 10px;
  border-radius: 10px;
  border: solid orange;
  color: white;
  background-color: orange; }
  footer div img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px; }

.main {
  grid-area: main; }
  .main div {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.tituloimagenes {
  width: 100%;
  background-color: orange; }
  .tituloimagenes h2 {
    font-size: 40px;
    color: white; }
  .tituloimagenes p {
    font-size: 25px;
    color: white; }

.imagenesrotadas {
  margin: 50px; }
  .imagenesrotadas img {
    transition: 2s;
    width: 250px; }
    .imagenesrotadas img:hover {
      transform: rotate(360deg); }

/*
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: darkblue
}

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.2fr;
    gap: 5px 0px;
    grid-template-areas:
        "header  header"
        "main    main"
        "footer  footer";
}*/
/*.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/sillonbanner.jpg")fixed center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner div h1 {
    color: white;
    font-weight: 900;

}

.banner div p {
    color: white;
}

.banner div a {
    color: white;
    background-color: orange;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600px;
    transition: all 2s;
}


.banner div a:hover{
    background-color: rgb(255, 72, 0);
    color: rgba(255, 230, 0, 0.753);
    transform: scale(1.5);
}

.bannernosotros {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannernosostros.jpg")fixed center/cover;
    align-items: center;
    justify-content: center;
}

.bannernosotros div{
    padding-bottom: 50px;
}

.bannernosotros div h1 {
    color: white;
    font-weight: 900;

}

.bannernosotros div p {
    color: white;
}

.bannernosotros div a{
    text-decoration: none;
    color: white;
    transition: all 1.5s;
}

.bannernosotros div a:hover {
    color: blue;
}

.bannercontacto {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannercontacto.jpg")fixed center/cover;
    align-items: center;
    justify-content: center;
}

.bannercontacto div h1 {
    color: white;
    font-weight: 900;

}
.bannercontacto div{
    padding-bottom: 50px;
}

.bannercontacto div p {
    color: white;
}

.bannercontacto div a{
    text-decoration: none;
    color: white;
    transition: all 1.5s;
}

.bannercontacto div a:hover {
    color: blue;
}

.bannersillones {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannersillones.jpg")fixed center/cover;
    align-items: center;
    justify-content: center;
}

.bannersillones div{
    padding-bottom: 50px;
}

.bannersillones div h1 {
    color: white;
    font-weight: 900;

}

.bannersillones div p {
    color: white;
}

.bannersillones div a{
    text-decoration: none;
    color: white;
    transition: all 1.5s;
}

.bannersillones div a:hover {
    color: blue;
}

.bannersillas {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/bannersillas.jpg")fixed center/cover;
    align-items: center;
    justify-content: center;
}

.bannersillas div{
    padding-bottom: 50px;
}

.bannersillas div h1 {
    color: white;
    font-weight: 900;

}

.bannersillas div p {
    color: white;
}

.bannersillas div a{
    text-decoration: none;
    color: white;
    transition: all 1.5s;
}

.bannersillas div a:hover {
    color: blue;
}*/
/*------------------------header------------------------*/
/*.navbar {
    width: 100%;
}

.header {
    display: flex;
    grid-area: header;
    border: solid orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a {
    transition: color 0.4s linear 0.2s;
}



.navbar-brand img {
    -webkit-transition: 1s linear;
    transition: 1s linear;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.header img:hover {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}*/
/*.carousel-inner div img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 300px;
}*/
/*------------------------main------------------------*/
.main {
  grid-area: main; }

/*.main div {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}*/
/*.tituloimagenes{
    width: 100%;
    background-color: orange;
}

.tituloimagenes h2,p{
    font-size: 60px;
    color: white;
}*/
/*.contenido1 div {
    margin: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenido1 div img {
    padding: 20px;
    margin: 8px;

}

.contenido1 div h2,p {
    margin: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} */
.contenido2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse; }

.contenido2 div .diviframe {
  width: 300px; }

/*.imagenesrotadas{
    margin:50px;
}

.imagenesrotadas a{
    width: 250px;
}

.imagenesrotadas img {
    transition: 2s;
}

.imagenesrotadas img:hover {
    transform: rotate(360deg);
}*/
/*.carousel div div img {
    max-width: 600px;
    max-height: 400px;
    align-items: center;
    justify-content: center;
}*/
.displayflex > div {
  display: flex; }

/*------------------------footer------------------------*/
/*footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    margin-bottom: 10px;
    margin-left: 4px;
    padding: 10px;
    border-radius: 10px;
    border: solid orange
}

.footer div img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}
*/
/*-----------------------formularios contacto------------------*/
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 20px/25px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 50px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 30px; }

fieldset {
  border: medium none !important;
  margin: 15px 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 15px 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

/*------------------------media queries------------------------*/
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column; }
  .menu {
    flex-direction: column; }
  .contenido1 > div {
    flex-direction: column;
    margin: 20px;
    padding: 10px; }
  .contenido2 > div {
    flex-direction: column;
    margin: 20px;
    padding: 10px; }
  .footer div img {
    width: 100%; } }

@media screen and (max-width: 750px) {
  .contenedor {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header" "main" "footer"; }
  .main div img {
    width: 100%; }
  .footer {
    flex-direction: column; }
  /*.footer div {
        flex-direction: column;
    }*/ }

.menu {
  display: flex;
  list-style: none;
  font-size: large; }

.menu > li {
  margin-left: 30px;
  display: inline-block;
  position: relative;
  font-size: 20px; }

.menu li > a {
  text-decoration: none;
  color: white; }

.menu li a:hover {
  color: orange; }

.menu li > .submenu {
  display: none;
  position: absolute;
  min-width: 140px; }

.menu li:hover > .submenu {
  display: block; }

.submenu {
  position: absolute;
  list-style: none;
  background-color: blue; }

.submenu li a {
  display: block;
  padding: 15px; }
