@import "../base/variables";

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.2fr;
    gap: 5px 0px;
    grid-template-areas:
        "header  header"
        "main    main"
        "footer  footer";
}

@media screen and (max-width:750px) {
    .contenedor {
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

