@import "../base/variables";


.main {
    grid-area: main;
    div {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}



.tituloimagenes{
    width: 100%;
    background-color: $color-fondo;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h2{
        font-size: $font-size-tit;
        color: white;
    }
    p{
        font-size: $font-size-par;
        color: white;
    }
}

.contenido2{
    background-color: $color-fondo;
    div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        /*margin: 25px;*/
        div{
            iframe{
                width: 300px;
            }
        }
        .tituloimagenes{
            display: flex;
            flex-direction: column;
        }
    }

}


.imagenesrotadas{
    margin:50px;
    img {
        transition: 2s;
        width: 250px;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

.cards{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    text-align: center;
    width: auto;
    div{
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 20px;
        transition: all 1s;
        display: flex;
        &:hover{
            transform: translateY(10px);
        }
        div {
            border: solid orange 5px;
            border-radius: 30px;
            box-shadow: 3px 4px 19px 0px rgb(0,0,0);
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            img {
                width: 460px;
                height: 300px;
            }
            h2 {
                padding-top: 25px;
                font-size: $font-size-tit-cards;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                transition: all 1s;
                
                &:hover{
                    color: orange;
                }
            }
            p {
                font-size: $font-size-par-cards;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }
}

@media screen and (max-width:1150px) {
    .cards > div{
        flex-direction: column;
        margin: 10px;
    }

    .imagenesrotadas{
        img{
            width: 200px;
        }
    }

    .imagenindex{
        img{
            width: 250px;
        }
    }
}

@media screen and (max-width:1000px) {

    .contenido2>div {
        flex-direction: column;
        margin: 20px;
        padding: 10px;
        iframe{
            width: 100%;
        }
    }

}

@media screen and (max-width:750px) {
    .main {
        div {
            img {
                width: 250px;
                height: 250px;
            }
        }
    }
    .imagenesrotadas {
        display: flex;
        flex-direction: column;
    }

    .tituloimagenes{
        h2{
            font-size: $font-size-tit - 5px;
        }
        p{
            font-size: $font-size-par - 5px;
        }
    }

    .cards div div{
        h2{
            font-size: $font-size-par-cards;
        }
        p{
            font-size: $font-size-par-cards;
        }

    }
}
